#div-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#div-header-title {
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
}

#div-header-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    padding-right: 20px;
}

#div-header-buttons button {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-family: AstaSans-Light;
    border-color: transparent;
    background-color: transparent;
}

#div-header-buttons button:hover {
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}
