@font-face {
    /* light */
    font-family: "AstaSans-Light";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Light.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    /* regular */
    font-family: "AstaSans-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    /* bold */
    font-family: "AstaSans-ExtraBold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-ExtraBold.woff2") format("woff2");
    font-style: normal;
}

body {
    font-family: "AstaSans-Regular";
    margin: 0;
    padding-top: 60px;
    box-sizing: border-box;
}

#bold {
    font-family: "AstaSans-ExtraBold";
}

#light {
    font-family: "AstaSans-Light";
}
