@font-face {
    font-family: 'AstaSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
  font-family: 'AstaSans-Bold';
}